*{
    margin:0;
    padding:0;
    text-align:center;
}
#title{
    background-color:#5c0076;
    color: white;
    height:5rem;
    line-height:5rem;
}
.choice{
    height:160px;
    width:160px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color:#4c0060;
    cursor: pointer;
    box-shadow:0 0 1rem rgba(76, 0, 96, 2) ;
}
img{
    height:150px;
    width:150px;
    border-radius:50%;
    object-fit: cover;
}
.choices{
    margin:3rem;
    display:flex;
    justify-content: center;
    gap:5rem;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    font-size: 2rem;
}
#user-score, #comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top:5rem;
}
.msg-container:hover{
    cursor: pointer;
}
#msg{
    background-color:#690087;
    color:white;
    font-size:1.8rem;
    display:inline;
    padding:10px;
    border-radius: 1rem;
}
.showWinner{
    margin-top:3rem;
    background-color:green;
    color:white;
    font-size:1.5rem;
    display:inline;
    padding:10px;
    border-radius: 1rem;
    box-shadow: 1;
}
.newGame{
    margin-top:3rem;
    background-color:green;
    color:white;
    font-size:1.8rem;
    display:inline;
    padding:10px;
    border-radius: 1rem;
    box-shadow: 1;
}
.newGame:hover{
    cursor: pointer;
}
@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }
@media (max-width: 480px) {
    .item {
      width: 100%;
    }
}
